system/system/app/sign/sign.apk
system/system/priv-app/Messages/Messages.apk
system/system/framework/framework-res.apk
vendor_boot.img
product/app/WebViewGoogle/WebViewGoogle.apk
product/priv-app/Velvet/Velvet.apk
product/priv-app/GmsCore/GmsCore.apk
